<h1>Editing movie</h1>

<%= form_for :movie, url: movie_path(@movie), method: :patch do |f| %>

    <p>
      <%= f.label :Title %><br>
      <% if @movie.errors[:title].any? %>
          <small class="bg-danger"><%= @movie.errors.full_messages_for(:title).first %><br/></small>
      <% end %>
      <%= f.text_field :title %>
    </p>
    <p>
    </p>

    <p>
      <%= f.label :'Short description' %><br>
      <% if @movie.errors[:short_desc].any? %>
          <small class="bg-danger"><%= @movie.errors.full_messages_for(:short_desc).first %><br/></small>
      <% end %>
      <%= f.text_area :short_desc, size: "30x5" %>
    </p>

    <p>
      <%= f.label :'Description' %><br>
      <% if @movie.errors[:description].any? %>
          <small class="bg-danger"><%= @movie.errors.full_messages_for(:description).first %><br/></small>
      <% end %>
      <%= f.text_area :description, size: "30x5" %>
    </p>
    <p>
      <%= f.submit 'Edit movie' %>
    </p>
    <br/>
    <%= link_to 'Back to list', movies_path %>
<% end %>

